<div class="blacky container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @trip.name %></h1><hr>
    </div>
  </div>
</div>
<div class="blacky container">
  <div class="row">
    <div class="col-sm-4">
      <%= render 'members' %>
      <p><%= link_to "Invite a friend!", trip_invite_path(@trip), class: "btn btn-default btn" %></p>
      <%= render 'potential_destinations' %>
      <p><%= link_to "Leave trip", trip_leave_path(@trip), data: {confirm: "Are you sure?"}, class: "btn btn-default btn" %></p>
    </div>
    <div class="col-sm-8">
      <%= render 'free_calendar' %>
      <%= render 'date_constraints' %>
    </div>
  </div>
</div>