<h1><%= @trip.name %></h1>

Trip members:
<ul>
  <% @trip.users.each do |user| %>
    <% unless user.invitation_token %>
      <li><%= link_to user.email, user_path(user) %></li>
    <% end %>
  <% end %>
</ul>

Potential Destinations:
<ul>
  <% @trip.destination_ids.each do |id| %>
    <li><%= Destination.find(id) %></li>
  <% end %>
</ul>

<!-- TODO make this calendar automatically jump to end date when you select start date -->
<%= form_tag(trip_update_date_constraints_path(@trip)) do %>
  <div class="form-group">
    <container id="my_datepicker">
      <div class="input-daterange input-group" id="datepicker">
        <input type="text" class="input-sm form-control" name="start_date" value=<%= @trip.start_date %> />
        <span class="input-group-addon">to</span>
        <input type="text" class="input-sm form-control" name="end_date" value=<%= @trip.end_date %> />
      </div>
      <button type="submit" class="btn btn-default">Update</button>
    </container>
  </div>
<% end %>

Free Dates:
<div id='free_calendar'></div>
<div id='free_calendar_url' value="<%= trip_path(@trip)%>.json"></div>

<p><%= link_to "Invite a friend!", trip_invite_path(@trip) %></p>
<p><%= link_to "Leave trip", trip_leave_path(@trip), data: {confirm: "Are you sure?"} %></p>
<p><%= link_to "Home", root_path %></p>


