<h2>Add Destinations</h2>
<%= form_tag(create_destination_path(@user), method: :post) do %>
  <!-- TODO: generalize regions, show countries -->
  <div>
    North America: <%= collection_check_boxes(:user, :destination_ids, Destination.where(region: "North America"), :id, :city) %>
  </div>
  <div>
    South America: <%= collection_check_boxes(:user, :destination_ids, Destination.where(region: "South America"), :id, :city) %>
  </div>
  <div>
    Europe: <%= collection_check_boxes(:user, :destination_ids, Destination.where(region: "Europe"), :id, :city) %>
  </div>
  <div>
    <%= submit_tag "Add" %>
  </div>
<% end %>