<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      <a class="region-panel-link" data-toggle="collapse" href="#collapse<%=region.gsub(' ','')%>"><%= region %></a>
    </h4>
  </div>  
  <div id="collapse<%=region.gsub(' ','')%>" class="panel-collapse collapse">
    <div class="panel-body">
      <% Destination.countries(region).each do |country| %>
        <h5><%= "#{country}: " %></h5>
        <%= render partial: 'country', locals: {country: country} %>
        <br>
      <% end %>
    </div>
  </div>
</div>