<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <!-- TODO change to glyphicon glyphicon-menu-down when not collapsed -->
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      <a class="region-panel-link" data-toggle="collapse" href="#collapse<%=region.gsub(' ','')%>"><%= region %></a>
    </h4>
  </div>  
  <div id="collapse<%=region.gsub(' ','')%>" class="panel-collapse collapse">
    <div class="panel-body">
      <%= collection_check_boxes(:user, :destination_ids, Destination.where(region: region), :id, :city) do |b| %>
        <%= b.label(class: "checkbox-inline") do %>
          <%= b.check_box(class: "destination-toggle") %> <%= b.object %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>