<h2>Update Destinations</h2>
<!-- TODO add little dropdown glyphicons -->
<!-- TODO break down by country -->
<%= form_tag(interests_update_path, method: :post) do %>
  <div class="bs-example">
    <div class="panel-group">
      <% Destination.regions.each do |region| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse<%=region.gsub(' ','')%>"><%= region %></a>
            </h4>
          </div>  
          <div id="collapse<%=region.gsub(' ','')%>" class="panel-collapse collapse">
            <div class="panel-body">
              <%= collection_check_boxes(:user, :destination_ids, Destination.where(region: region), :id, :city) do |b| %>
                <%= b.label(class: "checkbox-inline") do %>
                  <%= b.check_box() %> <%= b.object %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= submit_tag "Update" , class: "btn btn-default"%>
<% end %>
