<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Let's Go Somewhere!</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <!-- TODO add "active" highlights to these links -->
          <li class="navbar-text">Logged in as <strong><%= current_user.email %></strong>.</li>
          <li><%= link_to "Calendar", busy_intervals_path, class: 'navbar-link' %></li>
          <li><%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, class: 'navbar-link' %></li>
          <li><%= link_to "Login", new_user_session_path, class: 'navbar-link' %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>