<!DOCTYPE html>
<html>
  <head>
    <title>LetsGoSomewhere</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= google_webfonts_init({ google: ['Raleway', 'Roboto', 'PT Sans', 'Ubuntu'] }) %>
    <meta name="viewport" content="initial-scale=1">
  </head>

  <body>

    <%= render 'layouts/navigation' unless @hide_navbar %>

    <div id="main-container" class="container">
      <div class="row">
        <div class="col-sm-12">
          <%= render 'layouts/flashes' %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= yield %>
        </div>
      </div>
    </div>

    <footer class="navbar-default navbar-fixed-bottom" id="nav_footer">
      <div class="container-fluid pull-right navbar-text" id="nav_footer_text">
        <a href="https://twitter.com/starspaceleslie"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/lesliekaybrown"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/starspace1"><i class="fa fa-github"></i></a>
      </div>
    </footer>

  </body>

</html>


