<!DOCTYPE html>
<html>
  <head>
    <title>LetsGoSomewhere</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= google_webfonts_init({ google: ['Raleway', 'Roboto', 'PT Sans', 'Ubuntu'] }) %>
  </head>

  <body>

    <%= render 'layouts/navigation' %>

    <div id="main-container" class="container">
      <div class="row">
        <div class="col-sm-12">
          <%= render 'layouts/flashes' %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>

</html>


